.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  user-select: none;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

.innerCardContainer {
  position: relative;
  top: 150px;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: visible;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  user-select: none;
}

.innerCardContainer::-webkit-scrollbar {
  display: none;
}

.card {
  margin-bottom: 50px;
  /* height: 300px; */
  width: auto;
  min-height: 150px;
  min-width: 150px;
  cursor: pointer;
  /* transform: scale(1); */
  transition: transform 0.5s; /* Animation */
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.5s; /* Animation */
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.5s; /* Animation */
}

.emptyDiv {
  height: 100px;
  width: 100px;
}

/* Page Container */
.pageHeaderContainer {
  position: absolute;
  left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 10vw;
  z-index: 2;
}

.spatial {
  font-size: 40px;
  margin-left: 10px;
}

.projects {
  font-size: 64px;
}

.btnLink {
  text-decoration: none;
}

.discoverMoreBtn {
  background: linear-gradient(
    to right,
    rgba(21, 21, 21, 0.5),
    rgba(21, 21, 21, 0.12)
  );
  margin-top: 25px;
  color: white;
  font-family: "Century Gothic";
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  border: 1px;
  letter-spacing: 1px;
  width: 163px;
  cursor: pointer;
}

.fade {
  position: absolute;
  height: 100vh;
  width: 10vw;
  right: 0;
  background: linear-gradient(
    105.17deg,
    rgba(246, 243, 241, 0.4) -0.03%,
    rgba(209, 187, 174, 0.4) 37.73%,
    rgba(107, 96, 89, 0.4) 79.05%
  );
  z-index: 2;
}

@media (max-width: 1200px) {
  .spatial {
    font-size: 30px;
  }
  .projects {
    font-size: 54px;
  }
}

@media (max-width: 900px) {
  .projects {
    font-size: 48px;
  }
}
