.fullContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.gridContainer {
  position: relative;
  top: 200px;
  height: 100vh;
  width: auto;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: visible;
}

.gridContainer::-webkit-scrollbar {
  display: none;
}

.projectImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  user-select: none;
}

.projectImageOverlayContainer {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 300px;
}

.projectTitle {
  color: var(--text-color);
  width: 300px;
  text-wrap: wrap;
}

.projectDescription {
  position: absolute;
  color: rgba(132, 130, 130, 1);
  font-family: "Century Gothic", "Arial";
  width: 300px;
  text-wrap: wrap;
  overflow-y: visible;
  top: 92%;
  left: 0%;
}
.glassDescription {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Century Gothic";
  opacity: 0; /* Initially hidden */
  top: 60%;
  left: 0%;
  z-index: 1;
  /* transform: translate(-1px, 15px); */
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  background: rgba(0, 0, 0, 0.35); /* Transparent background */

  backdrop-filter: blur(10px); /* Apply blur */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  color: #fff;
  width: 260px;
  text-wrap: wrap;
  height: 120px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.6s ease-in-out;
}

.glassDescription:hover {
  opacity: 1;
  display: flex;
  top: 60%;
}

.projectImage {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.projectLink {
  text-decoration: none;
  color: var(--text-color);
}

.projectLink:hover {
  text-decoration: underline;
}

.projectLink:hover ~ .glassDescription {
  opacity: 1;
  top: 60%;
}
.emptyDiv {
  height: 100px;
  width: 100px;
}

.goBack,
.goBackMobile {
  position: absolute;
  cursor: pointer;
  color: #514d43;
  top: 135px;
  left: 50px;
  z-index: 3;
}

.goBack:hover {
  text-decoration: underline;
}

.goBackMobile {
  display: none;
}

/* Less than 1100px */
@media (max-width: 1100px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .glassDescription {
    opacity: 1;
  }
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .goBack {
    display: none;
  }

  .goBackMobile {
    display: block;
    top: 100px;
    left: 25px;
    font-size: 20px;
  }
}
