.fullContainer {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  background-image: url("/static/Glass effect 1.webp");
  background-size: cover;
}

.gridContainer {
  position: relative;
  width: auto;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: visible;
}

.gridContainer::-webkit-scrollbar {
  display: none;
}

.projectImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  user-select: none;
}

.projectImageOverlayContainer {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 300px;
}

.projectTitle {
  color: var(--text-color);
  width: 300px;
  text-wrap: wrap;
}

.projectDescription {
  position: absolute;
  color: rgba(132, 130, 130, 1);
  font-family: "Century Gothic", "Arial";
  width: 300px;
  text-wrap: wrap;
  overflow-y: visible;
  top: 92%;
  left: 0%;
}
.glassDescription {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Century Gothic";
  font-size: var(--font-size);
  opacity: 0; /* Initially hidden */
  top: 60%;
  left: 0%;
  z-index: 1;
  /* transform: translate(-1px, 15px); */
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  background: rgba(0, 0, 0, 0.35); /* Transparent background */

  backdrop-filter: blur(10px); /* Apply blur */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  color: #fff;
  width: 260px;
  text-wrap: wrap;
  height: 120px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.6s ease-in-out;
}

.glassDescription:hover {
  opacity: 1;
  display: flex;
  top: 60%;
  cursor: pointer;
}

.projectImage {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.projectImage:hover {
  text-decoration: underline;
}

.projectImage:hover ~ .glassDescription {
  opacity: 1;
  top: 60%;
}

.emptyDiv {
  height: 100px;
  width: 100px;
  display: block;
}

.emptyDiv2 {
  height: 100px;
  width: 100px;
}

/* Fullscreen Overlay */
.fullscreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  cursor: zoom-out; /* Changes cursor to indicate you can click to exit */
}

.fullscreenImageContainer {
  max-width: 90%; /* Limit the size of the image */
  max-height: 90%; /* Limit the size of the image */
  overflow: hidden;
}

.fullscreenImage {
  margin-top: 70px;
  width: auto;
  height: 60vh;
  max-width: 100%;
  max-height: 100%;
  min-width: 50%;
  min-height: 50%;
  object-fit: contain;
  border-radius: 10px;
  transition: all 0.6s ease-in-out;
}

.goBack,
.goBackMobile {
  position: absolute;
  cursor: pointer;
  color: #514d43;
  top: 135px;
  left: 50px;
  z-index: 3;
}

.goBack:hover {
  text-decoration: underline;
}

.goBackMobile {
  display: none;
}

/* Less than 1100px */
@media (max-width: 1100px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .projectImageContainer {
    align-items: center;
  }

  .gridContainer {
    grid-template-columns: 1fr;
  }

  .goBack {
    display: none;
  }

  .emptyDiv {
    display: none;
  }
  .goBackMobile {
    display: block;
    top: 100px;
    left: 25px;
    font-size: 20px;
  }
}
