.mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    85.91% 85.91% at 50% 50%,
    rgba(209, 187, 174, 0.8) 0%,
    #ffffff 75.5%
  );
  overflow-x: hidden;
  overflow-y: scroll;
}

.mainTitle {
  color: black;
  margin-top: 150px;
  font-size: 36px;
}

.welcome {
  margin-left: 50px;
  margin-right: 50px;
  width: 900px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcomeTextContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 50px;
}

.welcomeText {
  color: rgba(132, 130, 130, 1);
  text-align: left;
  font-family: "Century Gothic";
  margin-top: 0;
}

.profileImage {
  width: auto;
  height: 336px;
  transform: translateY(108px);
}

.header2 {
  margin-top: 100px;
}

.testimonialContainer {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 350px;
  margin: 25px 25px 0 25px;
  background: linear-gradient(
    142.13deg,
    rgba(255, 255, 255, 0.58) 1.8%,
    #80859f 99.75%
  );
  border-radius: 16px;
}

.quotes {
  margin-top: 40px;
  margin-left: 40px;
  height: auto;
  width: 22px;
}

.testimonial {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;

  font-family: "Century Gothic";
  color: rgba(59, 59, 59, 1);
}

.clientName {
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  color: rgba(81, 77, 67, 1);
  font-family: "Century Gothic";
}
.carouselContainer {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 100vw;
  height: 350px;
}

.blogContainer {
  width: 100vw;
  display: flex;
}
/* @media (max-width: 900px) {
  .welcome {
    width: 700px;
  }
} */
