.mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    85.91% 85.91% at 50% 50%,
    rgba(209, 187, 174, 0.8) 0%,
    #ffffff 75.5%
  );
  overflow-x: hidden;
  overflow-y: scroll;
}

.mainTitle {
  color: var(--text-color);
  margin-top: 150px;
  font-size: 36px;
}

.welcome {
  margin-left: 50px;
  margin-right: 50px;
  width: 900px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcomeTextContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 50px;
}

.welcomeText {
  color: var(--text-color);
  text-align: left;
  font-family: "Century Gothic";
  margin-top: 0;
}

.profileImage {
  width: auto;
  height: 316px;
  transform: translateY(99px);
}

.header2 {
  margin-top: 100px;
}

.testimonialContainer {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 350px;
  margin: 25px 25px 0 25px;
  background: linear-gradient(309.34deg, #d1bbae 20.97%, #ffffff 91.76%);

  border-radius: 40px;
}

.quotes {
  margin-top: 40px;
  margin-left: 40px;
  height: auto;
  width: 22px;
}

.testimonial {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;

  font-family: "Century Gothic";
  color: var(--text-color);
}

.clientName {
  display: flex;
  margin-top: 10px;
  margin-bottom: 35px;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  color: var(--text-color);
  font-family: "Century Gothic";
}

.carouselContainer1 {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 500vw;
  height: 1000px;
  overflow-x: hidden;
}

.largeImage1,
.largeImage2,
.largeImage3,
.largeImage4,
.largeImage5,
.largeImage6,
.largeImage7 {
  position: relative;
  height: 364px;
  width: 364px;
  object-fit: cover;
  border-radius: 10px;
}

.mediumImage1,
.mediumImage2,
.mediumImage3,
.mediumImage4,
.mediumImage5,
.mediumImage6,
.mediumImage7,
.mediumImage8 {
  position: relative;
  height: 272px;
  width: 272px;
  object-fit: cover;
  border-radius: 10px;
}

.smallImage1,
.smallImage2,
.smallImage3,
.smallImage4,
.smallImage5,
.smallImage6,
.smallImage7,
.smallImage8,
.smallImage9,
.smallImage10 {
  position: relative;
  height: 165px;
  width: 165px;
  object-fit: cover;
  border-radius: 10px;
}

.largeImage1 {
  top: 100px;
  margin-left: 300px;
}

.largeImage2 {
  top: 0;
  left: 100px;
}

.largeImage3 {
  top: 100px;
  left: 200px;
}

.largeImage4 {
  top: 100px;
  left: 200px;
}

.largeImage5 {
  top: 250px;
  left: 300px;
}

.largeImage6 {
  top: 100px;
  left: 175px;
}

.largeImage7 {
  top: 0;
  left: 200px;
}

.mediumImage1 {
  top: 0;
  left: 125px;
}

.mediumImage2 {
  top: 400px;
  right: 150px;
}

.mediumImage2 {
  top: 200px;
  left: 50px;
}

.mediumImage3 {
  top: 250px;
  left: 150px;
}

.mediumImage4 {
  top: 0;
  left: 250px;
}

.mediumImage5 {
  top: 0;
  left: 250px;
}

.mediumImage6 {
  top: 0;
  left: 250px;
}

.mediumImage7 {
  top: 0;
  left: 250px;
}

.mediumImage8 {
  top: 150px;
  left: 200px;
}

.smallImage1 {
  top: 250px;
  right: 250px;
}

.smallImage2 {
  top: 0;
  right: 0;
}

.smallImage3 {
  top: 0;
  left: 150px;
}

.smallImage4 {
  top: 0;
  left: 270px;
}

.smallImage5 {
  top: 200px;
  left: 170px;
}

.smallImage6 {
  top: -50px;
  left: 200px;
}

.smallImage7 {
  top: 300px;
  left: 100px;
}

.smallImage8 {
  top: 250px;
  left: 150px;
}

.smallImage9 {
  top: 50px;
  left: 250px;
}

.smallImage10 {
  top: 250px;
  left: 250px;
}

.header3 {
  margin-top: 300px;
}

.carouselContainer2 {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 100vw;
  height: 350px;
}

.blogFullContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.blogContainer {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 75px;
  gap: 50px;
}

.blogImage {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.blogItem {
  position: relative; /* Each item now has its own positioning context */
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(168, 167, 167, 1);
}

.glassDescription {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  opacity: 1; /* Initially hidden */
  top: 60%;
  left: 0%;
  z-index: 1;
  /* transform: translate(-1px, 15px); */
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  background: rgba(255, 255, 255, 0.5); /* Transparent background */
  font-family: "Century Gothic";
  backdrop-filter: blur(10px); /* Apply blur */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  color: var(--text-color);
  width: 260px;
  text-wrap: wrap;
  height: 120px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1350px) {
  .blogContainer {
    gap: 25px;
  }
}

@media (max-width: 1280px) {
  .blogContainer {
    gap: 10px;
  }
}

@media (max-width: 1250px) {
  .blogContainer {
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}
