.mainContainer {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    85.91% 85.91% at 50% 50%,
    rgba(209, 187, 174, 0.8) 0%,
    #ffffff 75.5%
  );

  overflow-x: hidden;
  overflow-y: auto;
}

.mainTitle {
  color: var(--text-color);
  margin-top: 150px;
  font-size: 36px;
}

.welcome {
  margin-left: 50px;
  margin-right: 50px;
  width: 900px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcomeTextContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 50px;
}

.welcomeText {
  color: var(--text-color);
  text-align: left;
  font-family: var(--century-gothic);
  margin-top: 0;
  font-size: 16px;
}

.profileImage {
  width: auto;
  height: 280px;
  transform: translateY(99px);
  border-radius: 20px;
}

.header2 {
  margin-top: 100px;
}

.testimonialContainer {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 350px;
  margin: 25px 25px 0 25px;
  background: linear-gradient(309.34deg, #d1bbae 20.97%, #ffffff 91.76%);

  border-radius: 40px;
}

.quotes {
  margin-top: 40px;
  margin-left: 40px;
  height: auto;
  width: 22px;
}

.testimonial {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;

  font-family: var(--century-gothic);
  color: var(--text-color);
}

.clientName {
  display: flex;
  margin-top: 10px;
  margin-bottom: 35px;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  color: var(--text-color);

  font-family: var(--century-gothic);
}

.carouselContainer1 {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 500vw;
  height: 1000px;
  overflow-x: hidden;
}

.largeImage1,
.largeImage2,
.largeImage3,
.largeImage4,
.largeImage5,
.largeImage6,
.largeImage7 {
  position: relative;
  height: 364px;
  width: 364px;
  object-fit: cover;
  border-radius: 10px;
}

.mediumImage1,
.mediumImage2,
.mediumImage3,
.mediumImage4,
.mediumImage5,
.mediumImage6,
.mediumImage7,
.mediumImage8 {
  position: relative;
  height: 272px;
  width: 272px;
  object-fit: cover;
  border-radius: 10px;
}

.smallImage1,
.smallImage2,
.smallImage3,
.smallImage4,
.smallImage5,
.smallImage6,
.smallImage7,
.smallImage8,
.smallImage9,
.smallImage10 {
  position: relative;
  height: 165px;
  width: 165px;
  object-fit: cover;
  border-radius: 10px;
}

.largeImage1 {
  top: 100px;
  margin-left: 300px;
}

.largeImage2 {
  top: 0;
  left: 100px;
}

.largeImage3 {
  top: 100px;
  left: 200px;
}

.largeImage4 {
  top: 100px;
  left: 200px;
}

.largeImage5 {
  top: 250px;
  left: 300px;
}

.largeImage6 {
  top: 100px;
  left: 175px;
}

.largeImage7 {
  top: 0;
  left: 200px;
}

.mediumImage1 {
  top: 0;
  left: 125px;
}

.mediumImage2 {
  top: 400px;
  right: 150px;
}

.mediumImage2 {
  top: 200px;
  left: 50px;
}

.mediumImage3 {
  top: 250px;
  left: 150px;
}

.mediumImage4 {
  top: 0;
  left: 250px;
}

.mediumImage5 {
  top: 0;
  left: 250px;
}

.mediumImage6 {
  top: 0;
  left: 250px;
}

.mediumImage7 {
  top: 0;
  left: 250px;
}

.mediumImage8 {
  top: 150px;
  left: 200px;
}

.smallImage1 {
  top: 250px;
  right: 250px;
}

.smallImage2 {
  top: 0;
  right: 0;
}

.smallImage3 {
  top: 0;
  left: 150px;
}

.smallImage4 {
  top: 0;
  left: 270px;
}

.smallImage5 {
  top: 200px;
  left: 170px;
}

.smallImage6 {
  top: -50px;
  left: 200px;
}

.smallImage7 {
  top: 300px;
  left: 100px;
}

.smallImage8 {
  top: 250px;
  left: 150px;
}

.smallImage9 {
  top: 50px;
  left: 250px;
}

.smallImage10 {
  top: 250px;
  left: 250px;
}

.header3 {
  margin-top: 180px;
}

.carouselContainer2 {
  width: 100vw;
  height: 350px;
  margin-top: 25px;
  margin-bottom: 100px;
}

.goBack,
.goBackMobile {
  position: absolute;
  cursor: pointer;
  color: #514d43;
  top: 135px;
  left: 50px;
  z-index: 3;
}

.goBackArrow {
  transform: translateY(2.4px);
  padding-bottom: 1px;
  border-bottom: 2px solid transparent; /* Reserve space for border */
}

.goBack:hover {
  text-decoration: underline;
}

.goBack:hover .goBackArrow {
  border-bottom: 2px solid var(--text-color);
}

.goBackMobile {
  display: none;
}

@media (max-width: 930px) {
  .welcome {
    flex-direction: column;
    margin-top: 30px;
  }

  .mainTitle {
    margin-top: 130px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .welcomeTextContainer {
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 95vw;
  }
  .welcomeText {
    text-align: justify;
    font-size: var(--font-size);
    margin-left: 15px;
    margin-right: 15px;
  }
  .header2 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
  }

  .largeImage1,
  .largeImage2,
  .largeImage3,
  .largeImage4,
  .largeImage5,
  .largeImage6,
  .largeImage7 {
    position: relative;
    height: 182px;
    width: 182px;
    object-fit: cover;
    border-radius: 10px;
  }

  .mediumImage1,
  .mediumImage2,
  .mediumImage3,
  .mediumImage4,
  .mediumImage5,
  .mediumImage6,
  .mediumImage7,
  .mediumImage8 {
    position: relative;
    height: 136px;
    width: 136px;
    object-fit: cover;
    border-radius: 10px;
  }

  .smallImage1,
  .smallImage2,
  .smallImage3,
  .smallImage4,
  .smallImage5,
  .smallImage6,
  .smallImage7,
  .smallImage8,
  .smallImage9,
  .smallImage10 {
    position: relative;
    height: 82px;
    width: 82px;
    object-fit: cover;
    border-radius: 10px;
  }

  .largeImage1 {
    top: 50px;
    margin-left: 150px;
  }

  .largeImage2 {
    top: 0;
    left: 50px;
  }

  .largeImage3 {
    top: 50px;
    left: 100px;
  }

  .largeImage4 {
    top: 50px;
    left: 100px;
  }

  .largeImage5 {
    top: 125px;
    left: 150px;
  }

  .largeImage6 {
    top: 50px;
    left: 87.5px;
  }

  .largeImage7 {
    top: 0;
    left: 100px;
  }

  .mediumImage1 {
    top: 0;
    left: 62.5px;
  }

  .mediumImage2 {
    top: 200px;
    right: 75px;
  }

  .mediumImage2 {
    top: 100px;
    left: 25px;
  }

  .mediumImage3 {
    top: 125px;
    left: 75px;
  }

  .mediumImage4 {
    top: 0;
    left: 125px;
  }

  .mediumImage5 {
    top: 0;
    left: 125px;
  }

  .mediumImage6 {
    top: 0;
    left: 125px;
  }

  .mediumImage7 {
    top: 0;
    left: 125px;
  }

  .mediumImage8 {
    top: 75px;
    left: 100px;
  }

  .smallImage1 {
    top: 125px;
    right: 125px;
  }

  .smallImage2 {
    top: 0;
    right: 0;
  }

  .smallImage3 {
    top: 0;
    left: 75px;
  }

  .smallImage4 {
    top: 0;
    left: 135px;
  }

  .smallImage5 {
    top: 100px;
    left: 85px;
  }

  .smallImage6 {
    top: -25px;
    left: 100px;
  }

  .smallImage7 {
    top: 150px;
    left: 50px;
  }

  .smallImage8 {
    top: 125px;
    left: 75px;
  }

  .smallImage9 {
    top: 25px;
    left: 125px;
  }

  .smallImage10 {
    top: 125px;
    left: 125px;
  }

  .header3 {
    margin-top: 30px;
    font-size: 20px;
  }

  .carouselContainer2 {
    margin-top: 5px;
  }

  .testimonialContainer {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 300px;
    margin: 5px 25px 0 25px;

    border-radius: 20px;
  }

  .quotes {
    margin-top: 15px;
    margin-left: 15px;
    height: auto;
    width: 22px;
  }

  .testimonial {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
  }

  .clientName {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 100%;
    font-size: 12px;
  }

  .goBack {
    display: none;
  }

  .goBackMobile {
    display: block;
    top: 80px;
    left: 15px;
    height: 14px;
    width: 14px;
  }
}
