.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(245, 244, 239, 1)
  ); */
  z-index: 1000;
  user-select: none;
  height: 100px;
}

.mainContainerWhite {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-image: white; */
  /* background: white; */
  z-index: 1000;
  user-select: none;
  height: 100px;
}

.logo {
  transform: translateY(5px);
  height: 50px;
  width: 50px;
}

.hamburger {
  display: none;
}

.mobileMenu {
  display: none;
}

.horizontalLine {
  width: 100vw;
  color: white;
}

.navbarItemContainer {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  min-width: 600px;
  max-width: 800px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.navItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.selected,
.selectedSpatialDesign {
  position: absolute;
  top: 87px;
  width: 100px;
  border-color: rgba(29, 29, 31, 1);
}

.selectedSpatialDesign {
  width: 120px;
}

.navbarItem {
  font-size: var(--font-size);
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
}

.navLink {
  text-decoration: none;
}

.navLinkNoHover {
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .mainContainer,
  .mainContainerWhite {
    height: 60px;
    flex-direction: row;
    justify-content: center;
  }
  .horizontalLine {
    display: none;
  }
  .navbarItemContainer {
    display: none;
  }

  .logo {
    transform: translateY(0px);
    margin-top: 15px;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 25px;
    left: 18px;
  }

  .mobileMenu {
    position: absolute;
    top: 50px;
    left: 0;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    border: 1px solid rgba(223, 219, 233, 0.29);
  }

  .firstItemMobileNav,
  .itemsMobileNav {
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    color: var(--text-color);
  }

  .firstItemMobileNav {
    margin-top: 8px;
  }

  .firstItemMobileNav:active,
  .itemsMobileNav:active {
    text-decoration: underline;
  }

  .itemsMobileNav {
    padding: 10px 5px 10px 5px;
  }

  .mobileMenuLine {
    width: 99%;
    color: rgba(223, 219, 233, 1);
  }
}
