/* Create a new CSS file or add to your existing global stylesheet */
/* Importing Century Gothic font */
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/century-gothic-font/Century%20Gothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Importing Brown Sugar font */
@font-face {
  font-family: "Brown Sugar";
  src: url("/fonts/brown-sugar/Brown%20Sugar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: auto; /* Allow the body to grow as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #514d43;
  --font-size: 14px;
  --century-gothic: "Century Gothic", Helvetica, Tahoma, Verdana, sans-serif;
  --brown-sugar: "Brown Sugar", Helvetica, Tahoma, Verdana, sans-serif;
}
