/* Create a new CSS file or add to your existing global stylesheet */
/* Importing Century Gothic font */
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/century-gothic-font/Century%20Gothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Importing Brown Sugar font */
@font-face {
  font-family: "Brown Sugar";
  src: url("/fonts/brown-sugar/Brown%20Sugar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-y: hidden;
}
