.footerContainer,
.footerContainerExpanded {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: rgba(237, 232, 223, 1);
  transition: all 0.4s ease-in-out;
  z-index: 2;
}

.footerContainerExpanded {
  height: 120px;
  align-items: flex-start;
}

.innerFooterContainer,
.innerFooterContainerExpanded {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.innerFooterContainerExpanded {
  align-items: flex-start;
}

.footerItems,
.footerItemsExpanded {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  color: var(--text-color);
  font-size: var(--font-size);
}

.footerItemsExpanded {
  margin-top: 15px;
}

.footerItemInnerContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
}

.plus {
  color: var(--text-color);
  margin-left: 5px;
  font-size: 25px;
}

.email {
  font-size: 12px;
  font-family: var(--century-gothic);
  text-transform: lowercase;
  margin-top: 10px;
  text-decoration: underline;
  color: var(--text-color);
}

.social {
  font-size: 12px;
  margin-top: 10px;
  text-decoration: underline;
  font-family: var(--century-gothic);
  color: var(--text-color);
  cursor: pointer;
}

.whatsappContainer,
.whatsappContainerExpanded {
  display: flex;
  align-items: center;
  height: 100%;
}

.whatsapp {
  color: var(--text-color);
  cursor: pointer;
  font-size: var(--font-size);
  text-decoration: underline;
  cursor: pointer;
}

.whatsappContainerExpanded {
  margin-top: 15px;
  align-items: flex-start;
}

.link {
  color: var(--text-color);
}

.arrow {
  margin-left: 5px;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

/* Existing styles remain the same */

/* Media query for mobile devices */
@media (max-width: 600px) {
  .footerContainer,
  .footerContainerExpanded {
    display: none;
  }
}
