.fullContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;

  background: radial-gradient(
    191.54% 70.88% at 50% 45.74%,
    #d1c9be 0%,
    #ffffff 100%
  );

  top: 0;
  left: 0;
  background-position: cover;
  overflow-y: scroll;
}

.header1,
.headers {
  font-size: 26px;
  margin: 0;
}
.header1 {
  margin-top: 200px;
}

.headers {
  margin-top: 70px;
}

.paragraph {
  margin-top: 15px;
  font-size: 18px;
  font-family: "Century Gothic";
  color: var(--text-color);
  width: 80vw;
  text-align: center;
}

/* Philosophy */

/* .industryContainer {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.threePoints {
  display: flex;
  flex-direction: column;
}

.industryPoint {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 60px;
}

.pointLine {
  width: 108px;
  border: 2px solid var(--text-color);
  margin: 0;
  margin-bottom: 1px;
}

.industryTitle {
  font-size: 26px;
  font-family: "Brown Sugar";
  letter-spacing: 6px;
  color: var(--text-color);
}

.industrySubTitle {
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--text-color);
}

.verticalLine {
  height: 450px;
  width: 1px;
  background: linear-gradient(transparent, var(--text-color), transparent);
} */

/* Design Process */
.designProcessContainer {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.designProcessSVG {
  display: block;
  width: 900px;
  height: auto;
}

.designProcessMobileSVG {
  display: none;
}

.designProcessTitle {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left top;
  font-family: "Brown Sugar";
  letter-spacing: 2px;
  color: #c1a798;
  font-size: 70px;
  width: 800px;
  top: 150px;
  left: 115%;
}

/* Our Principles */

.ourPrinciplesImage {
  display: block;
  width: 85vw;
  margin: 75px 50px 0 50px;
}

.mobilePrincipleContainer {
  display: none;
}

.ourPrinciplesMobileImage {
  display: none;
}

.mobilePrinciplePara {
  display: none;
}

.iconGrid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  background: radial-gradient(var(--text-color), transparent 80%);
  background-origin: border-box;
  background-clip: border-box;

  margin: 150px 50px 0 50px;
}

.iconGrid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-repeat: no-repeat;
  background-size: 50% 50%;
  pointer-events: none; /* Allows clicks to pass through */
}

.iconGrid > div {
  background-color: white;
  padding: 10px;
}

.invisibleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: 1 / 1 / span 2 / span 2;
}

.principleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.principleHeader {
  margin-top: 0;
  font-size: 45px;
}

.principleParagraph {
  font-size: 18px;
  font-family: "Century Gothic";
  color: var(--text-color);
  text-align: justify;
}

.emptyDiv1 {
  position: absolute;
  height: 357px;
  margin: 0;
  padding: 0;
  border-right: 10px solid white;

  transform: translateX(388px);
}

.emptyDiv2 {
  position: absolute;
  height: 200px;
  width: 200px;
  margin: 0;
  padding: 0;
  border-right: 10px solid white;
  border-top: 20px solid white;
  transform: translateY(-30px);
}

.iconText {
  font-size: 16px;
  font-family: "Century Gothic";
  color: var(--text-color);
  text-align: center;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-wrap: wrap;
  /* border-right: 5px solid; */
  /* border-image: linear-gradient(transparent, black 30%, black 70%, transparent)
    1; */
}

.icon {
  height: 45px;
  width: auto;
  grid-area: span 1;
}

.goBack,
.goBackMobile {
  position: absolute;
  cursor: pointer;
  color: #514d43;
  top: 135px;
  left: 50px;
  z-index: 3;
}

.goBack:hover {
  text-decoration: underline;
}

.goBackMobile {
  display: none;
}

@media (max-width: 1200px) {
  .designProcessContainer,
  .designProcessSVG {
    width: 95vw;
  }
}

@media (max-width: 700px) {
  .header1,
  .headers {
    font-size: 22px;
  }

  .header1 {
    margin-top: 150px;
  }

  .paragraph {
    text-align: justify;
  }

  .ourPrinciplesImage {
    display: none;
  }

  .mobilePrincipleContainer {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ourPrinciplesMobileImage {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    transform: translateX(-15px);
    /* margin: 75px 50px 0 50px; */
  }

  .mobilePrinciplePara {
    display: block;
  }

  .designProcessContainer {
    justify-content: center;
  }

  .designProcessSVG {
    display: none;
  }

  .designProcessMobileSVG {
    display: block;
  }

  .goBack {
    display: none;
  }

  .goBackMobile {
    display: block;
    top: 95px;
    left: 15px;
    font-size: 20px;
  }
}
