.fullContainer {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: radial-gradient(
    191.54% 70.88% at 50% 45.74%,
    #d1c9be 0%,
    #ffffff 100%
  );

  background-position: cover;
  overflow-y: auto;
}

.header1,
.headers {
  font-size: 26px;
  margin: 0;
}
.header1 {
  margin-top: 200px;
}

.headers {
  margin-top: 70px;
}

.paragraph {
  margin-top: 15px;
  font-size: 18px;
  font-family: "Century Gothic";
  color: var(--text-color);
  width: 80vw;
  text-align: center;
}

/* Design Process */
.designProcessContainer {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.designProcessSVG {
  display: block;
  width: 900px;
  height: auto;
}

.designProcessMobileSVG {
  display: none;
}

.designProcessTitle {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left top;
  font-family: "Brown Sugar";
  letter-spacing: 2px;
  color: #c1a798;
  font-size: 70px;
  width: 800px;
  top: 150px;
  left: 115%;
}

/* Our Principles */

.ourPrinciplesImage {
  display: block;
  width: 85vw;
  margin: -40px 50px -40px 50px;
}

.mobilePrincipleContainer {
  display: none;
}

.ourPrinciplesMobileImage {
  display: none;
}

.mobilePrinciplePara {
  display: none;
}

.emptyDiv1 {
  position: absolute;
  height: 357px;
  margin: 0;
  padding: 0;
  border-right: 10px solid white;

  transform: translateX(388px);
}

.emptyDiv2 {
  position: absolute;
  height: 200px;
  width: 200px;
  margin: 0;
  padding: 0;
  border-right: 10px solid white;
  border-top: 20px solid white;
  transform: translateY(-30px);
}

.goBack,
.goBackMobile {
  position: absolute;
  cursor: pointer;
  color: #514d43;
  top: 135px;
  left: 50px;
  z-index: 3;
}

.goBackArrow {
  transform: translateY(2.4px);
  padding-bottom: 1px;
  border-bottom: 2px solid transparent; /* Reserve space for border */
}

.goBackMobile {
  display: none;
}

.goBack:hover {
  text-decoration: underline;
}

.goBack:hover .goBackArrow {
  border-bottom: 2px solid var(--text-color);
}

@media (max-width: 1200px) {
  .designProcessContainer,
  .designProcessSVG {
    width: 95vw;
  }
  .ourPrinciplesImage {
    margin: -125px 50px -125px 50px;
  }
}

@media (max-width: 700px) {
  .header1,
  .headers {
    font-size: 22px;
    margin-top: 35px;
  }

  .header1 {
    margin-top: 150px;
  }

  .paragraph {
    text-align: justify;
    font-size: 12px;
  }

  .ourPrinciplesImage {
    display: none;
  }

  .mobilePrincipleContainer {
    display: block;
    width: 100%;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ourPrinciplesMobileImage {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    transform: translateX(-15px);

    /* margin: 75px 50px 0 50px; */
  }

  .mobilePrinciplePara {
    display: block;
  }

  .designProcessContainer {
    justify-content: center;
  }

  .designProcessSVG {
    display: none;
  }

  .designProcessMobileSVG {
    display: block;
  }

  .goBack {
    display: none;
  }

  .goBackMobile {
    display: block;
    top: 95px;
    left: 15px;
    height: 14px;
    width: 14px;
  }
}
