.fullContainer {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(223, 219, 233, 1)
  );
  /* Overrides main background image */
  background-position: cover;
  overflow-y: auto;
}

.topContainer {
  top: 100px;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
}

.topContainer::-webkit-scrollbar {
  display: none;
}

.topContainerMobile {
  display: none;
}

.bodyContainer {
  display: flex;
  justify-content: center;
}

.breadCrumbMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  font-size: 12px;
  width: 365px;
}

.breadCrumbLink {
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
}

.breadCrumbArrow {
  font-size: 6px;
  color: rgba(217, 217, 217, 1);
  vertical-align: middle;
}

.active {
  color: rgba(126, 53, 19, 1);
  text-transform: uppercase;
}

.mainHeader {
  font-size: 26px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 1px;
  text-align: left;
  transform: translateY(3px);
  text-transform: uppercase;
  color: var(--text-color);
}

.mainContainer {
  overflow-x: auto;
  margin-right: 50px;
  width: 35vw;
  overflow-x: hidden;
}

.location {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.locationText {
  margin-top: 0;
  transform: translateY(-15px);
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: (81, 77, 67, 0.8);
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 10px;
  text-align: justify;
  color: var(--text-color);
  font-family: "Century Gothic";
  transform: translateY(-15px);
}

.pill {
  font-size: 14px;
  background: rgba(209, 187, 174, 0.5);
  padding: 10px 25px 10px 25px;
  border-radius: 16px;
  margin-right: 10px;
  display: inline-block; /* Allows wrapping of each span individually */
  white-space: normal; /* Allows the span to wrap to the next line */
  margin-top: 10px;
}

.pill.nobreak {
  white-space: nowrap; /* Prevents the phrase from breaking inside the span */
}

.subHeader {
  margin-top: 40px;
  font-size: 20px;
  transform: translateY(-15px);
}
.imageGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 0.8fr 1fr 0.65fr;
  gap: 10px;
  width: 35vw;
  margin-top: 100px;
  margin-bottom: 200px;
}

.gridImage1,
.gridImage2,
.gridImage3,
.gridImage4 {
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.gridImage1 {
  grid-column: span 10;
  grid-row: span 1;
}

.gridImage2 {
  grid-column: span 10;
  grid-row: span 1;
}

.gridImage3,
.gridImage4 {
  grid-column: span 5;
  grid-row: span 1;
}

.emptyDiv {
  height: 100px;
  width: 100px;
}

.goBack {
  position: absolute;
  cursor: pointer;
  color: #514d43;
  top: 100px;
  left: 50px;
  z-index: 3;
}

.goBack:hover {
  text-decoration: underline;
}

/* Less than 1100px */
@media (max-width: 1300px) {
  .imageGrid {
    width: 45vw;
  }
}

@media (max-width: 1150px) {
  .topContainer {
    display: none;
  }
  .topContainerMobile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
  }

  .mainContainer {
    margin-right: 20px;
    margin-left: 20px;
    width: 95vw;
  }

  .location {
    margin-bottom: 50px;
  }

  .breadCrumbMenu {
    transform: translateX(-9px);
  }

  .mainHeader {
    font-size: 24px;
  }

  .imageGrid1,
  .imageGrid2 {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin-bottom: 50px;
  }

  .imageGrid1 {
    margin-bottom: 15px;
  }

  .imageGrid2 {
    grid-template-rows: 1.5fr;
  }

  .subHeader {
    margin-top: 0;
    font-size: 16px;
  }

  .olMobile {
    padding-left: 17px;
  }

  .pill {
    font-size: 12px;
  }

  .goBack {
    left: 15px;
    font-size: 16px;
  }
}
