.mainContainer {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.blogContainer {
  width: 95vw;
}

.mainHeader {
  font-size: 32px;
  margin-top: 150px;
}

.subHeader {
  color: rgb(132, 128, 119);
  font-family: "Century Gothic";
  font-size: 20px;
  text-align: justify;
}

.firstPara {
  color: rgb(81, 77, 67);
  font-family: "Century Gothic";
  font-size: 16px;
  text-align: justify;
}

.blogImage {
  height: auto;
  width: 100%;
}

.header {
  color: rgb(81, 77, 67);
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 30px;
  list-style-position: inside;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1500px;

  padding-left: 0;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 100px;
}

.pointContainer {
  display: flex;
  flex-direction: column;

  max-width: 400px;
}

.conclusion {
  color: rgb(81, 77, 67);
  font-family: "Century Gothic";
  font-size: 16px;
  text-align: justify;
}

.pillContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.pill {
  font-size: 14px;
  background: rgba(209, 187, 174, 0.5);
  padding: 10px 25px 10px 25px;
  margin: 10px 10px 0 0;
  border-radius: 16px;
  display: inline-block; /* Allows wrapping of each span individually */
  white-space: normal; /* Allows the span to wrap to the next line */
}

.pill.nobreak {
  white-space: nowrap; /* Prevents the phrase from breaking inside the span */
}

.goBack,
.goBackMobile {
  position: absolute;
  cursor: pointer;
  color: #514d43;
  top: 100px;
  left: 30px;
  z-index: 3;
}

.goBack:hover {
  text-decoration: underline;
}

.goBackMobile {
  display: none;
}

/* Different for each blog */

.subpoint {
  color: rgb(81, 77, 67);
  text-decoration: underline;
  font-family: "Century Gothic";
}

.blogPara,
.blogPointHeader {
  color: rgb(81, 77, 67);
  text-align: justify;
  font-size: 16px;
  font-family: "Century Gothic";
}

.blogPointHeader {
  color: rgb(81, 77, 67);

  font-weight: bold;
}

.blogBullet {
  list-style-type: disc;
}

.blogPointHeader::marker {
  font-weight: bold;
}

@media (max-width: 1400px) {
  .grid {
    max-height: 2500px;
  }
}

@media (max-width: 1000px) {
  .grid {
    max-height: 5000px;
    align-items: flex-start;
  }

  .pointContainer {
    max-width: 95%;
  }
}

@media (max-width: 600px) {
  .grid {
    align-items: center;
  }
}

@media (max-width: 850px) {
  .mainHeader {
    text-align: center;
  }

  .goBack {
    display: none;
  }

  .goBackMobile {
    display: block;
    top: 90px;
    left: 10px;
    font-size: 20px;
  }
}
