.fullContainer {
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(223, 219, 233, 1)
  );
  /* Overrides main background image */
  background-position: cover;
  height: 100vh;
  width: 100vw;
}

.topContainer {
  position: fixed;
  top: 100px;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
  overflow-y: scroll;
}

.topContainer::-webkit-scrollbar {
  display: none;
}

.bodyContainer {
  display: flex;
  justify-content: center;
}

.breadCrumbMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  font-size: 12px;
  width: 365px;
}

.breadCrumbLink {
  color: black;
  text-decoration: none;
}

.breadCrumbArrow {
  font-size: 6px;
  color: rgba(217, 217, 217, 1);
  vertical-align: middle;
}

.active {
  color: rgba(126, 53, 19, 1);
}

.mainHeader {
  font-size: 26px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 1px;
  text-align: left;
  transform: translateY(3px);
  color: black;
}

.mainContainer {
  overflow-x: auto;
  margin-right: 50px;
  width: 35vw;
}

.location {
  display: flex;
  flex-direction: column;
}

.locationText {
  margin-top: 0;
  transform: translateY(-15px);
  font-size: 14px;
  line-height: 20px;
  color: (0, 0, 0, 0.8);
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 10px;
  text-align: justify;
  color: var(--text-color);
  font-family: "Century Gothic";
  transform: translateY(-15px);
}

.pillContainer {
  display: flex;
  justify-content: space-evenly;
  overflow: visible;
}

.pill {
  font-size: 14px;
  background: rgba(209, 187, 174, 0.5);
  padding: 7px;
  border-radius: 16px;
  margin-right: 10px;
  display: inline-block; /* Allows wrapping of each span individually */
  white-space: normal; /* Allows the span to wrap to the next line */
  margin-top: 10px;
}

.pill.nobreak {
  white-space: nowrap; /* Prevents the phrase from breaking inside the span */
}

.subHeader {
  margin-top: 40px;
  font-size: 20px;
  transform: translateY(-15px);
}
.imageGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1.5fr 1fr 1.5fr;
  gap: 10px;
  width: 35vw;
  margin-top: 100px;
  margin-bottom: 200px;
}

.gridImage1,
.gridImage2,
.gridImage3,
.gridImage4,
.gridImage5,
.gridImage6 {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.gridImage1 {
  grid-column: span 6;
  grid-row: span 1;
}
.gridImage2 {
  grid-column: span 4;
  grid-row: span 1;
}

.gridImage3 {
  grid-column: span 10;
  grid-row: span 1;
}

.gridImage4,
.gridImage5 {
  grid-column: span 5;
  grid-row: span 1;
}

.gridImage6 {
  grid-column: span 10;
  grid-row: span 1;
}

.emptyDiv {
  height: 200px;
  width: 200px;
}

/* Less than 1100px */
@media (max-width: 1300px) {
  .imageGrid {
    width: 45vw;
  }
}

@media (max-width: 1150px) {
  .imageGrid {
    width: 50vw;
  }
}
